#carousel-wrapper>.carousel-inner {
  max-height: 400px;
}

#carousel-wrapper>.carousel-inner img {
  width: 100%;
}

.footer {
  background: #000;
  color: #ffffff;
  padding: 25px;
  font-size: 1.5em;
}

body {
  background: blanchedalmond;

}

h1 {
  color: red;
  background-color: goldenrod;
  border-style: dotted dashed solid double;
  border-width: 10px;
  border-radius: 5px;
}